.NavBar{
  display: flex;
}
.NavBar h2{
  width: 75%;
}
.NavBar a{
  color: black;
  border: 1px solid #ccc;
  height: 20px;
  padding: 11px;
  border-radius: 8px;
  text-decoration: none;
}
.ContactBox{
  display: flex;
  border: 5px solid grey;
  border-radius: 10px;
  margin-top: 5px;
  width: 60%;
}
.ContactBox img{
  width: 200px;
  height: 150px;

}
.ImgModal{
  width: 200px;
  height: 150px;
}