.form-Contact{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 30%;
}
.Prev{
  margin-top: 10px;
  display: flex;
  margin-left: 30%;
  width: 40%;
  border-top: 2px solid #ccc;
}
.Prev img{
  margin-left: 10px;
  width: 200px;
  height: 150px;

}
.btn{
  display: flex;
  margin-left: 45%;
}